.card {
  height: 130px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px !important;
  border-left-color: #171352 !important;
  border-left-width: 7px !important;
}
.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 6px 8px rgba(0, 0, 0, 0.06) !important;
  transform: translate(-1.5px, -1.5px);
  transition-duration: 0.2s;
}

#card-store {
  border-left-color: #819620 !important;
}
.card-title {
  height: 60px;
  color: #171352;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-line;
  font: normal normal normal 20px/24px "museo_sans700" !important;
  text-transform: lowercase;
}

.card-title::first-letter {
  text-transform: uppercase;
}
.card-text {
  font-size: 14px;
  font: normal normal normal 14px/17px "museo_sans500";
  letter-spacing: 0px;
  color: #3d3d3d;
}
#item {
  color: #171352 !important;
}
h1.name {
  color: #819620;
  font: normal normal normal 14px/18px "museo_sans500";
  font-size: 14px;
}
span.detail {
  text-align: left;
  font-size: 14px;
  letter-spacing: 0px;
  font: normal normal normal 15px/18px "museo_sans100";
  color: #6d6d6d;
  opacity: 1;
}
