.custom-card{
  border-radius:1rem !important;
}
.accordion {
  background-color: #c82333 !important;
  color: #ffff;
  cursor: pointer;

  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin: 0;
  padding: 0;

}

.active{
  border-bottom-left-radius:0rem !important ;
  border-bottom-right-radius:0rem !important;
}

.accordion:hover {
  background-color: #ccc;

}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.uncollapse {
  display: block !important;
}

.bg-custom-color {
  background-color: #c82333 !important;
}

.image-card{
  max-width: 100%;
}