.sidebar {
  padding: 0px;
  margin-left: 14px;
  margin-right: 14px;
}
.user-panel:hover {
  background-color: #f5f5f5;
}

.sidebar-mini .nav-sidebar,
.sidebar-mini .nav-sidebar .nav-link,
.sidebar-mini .nav-sidebar > .nav-header {
  white-space: nowrap;
  align-content: space-around;
  width: 100%;
}

.nav-sidebar .nav-link p {
  margin-left: 10px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: #e6e6e6 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #171352;
  border-left: 3px solid;
}

.sidebar-mini .main-sidebar .nav-link,
.sidebar-mini-md .main-sidebar .nav-link,
.sidebar-mini-xs .main-sidebar .nav-link {
  width: 100%;
  border-radius: 0%;
}

.nav-pills .nav-link:not(.active):hover {
  color: #171352;
  background-color: #cecdcd;
  transition: 0.4s;
  outline: thick solid #cecdcd;
  opacity: 1;
}

[class*="sidebar-light"] .user-panel {
  border-bottom: 0.2px solid #819620;
  align-items: center;
}

[class*="sidebar-light"] .brand-link {
  border-bottom: 0.2px solid #819620;
}

[class*="sidebar-light-"] .sidebar span {
  text-align: left;
  font: normal normal normal 15px/18px museo_sans700;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.box {
  width: 140px;
  height: 60px;
  margin-right: 10px;
  opacity: 1;
  display: inline-block;
  -webkit-mask: url("../img/logo.png") center/contain no-repeat;
  mask: url("../img/logo.png") center/contain no-repeat;
  background: url("../img/logo.png") center/contain no-repeat;
  background-blend-mode: darken;
}
.box:before {
  content: "";
  display: block;
  padding-top: 100%;
}
/* color en la miga de pan  */
.breadcrumb-item a {
  color: #171352;
}

.fa,
.fas {
  font-weight: 900;
  width: 15px;
  height: 15px;
  margin-right: 3px;
  font-size: 17px;
}
